
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid rgb(107, 75, 247);
}

td {
  border: 1px solid rgb(106, 21, 99);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tr {
  background-color: cadetblue;
}

.stream_table {
  background-color: beige;
}